@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500&display=swap');

*{
  font-family: 'IBM Plex Sans', sans-serif;
}

body{
  background-color: #f8f2f2b6 !important;

}

/* NAVBAR STYLING */
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #000;
  font-weight: 600;
}

a.nav-link {
  color: #121212;
}

a.nav-link.link {
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
}

a#contact{
  border: 1px solid #29222E;
  box-sizing: border-box;
  border-radius: 4px;
}

section.home {
  margin-top: 150px;
}

sub.sub {
  font-size: 27px;
  color: #7D7D7D;
  line-height: 62px;
}


p.home_intro {
  font-size: 34px;
  line-height: 43px;
  color: #29222E;
}

button.btn {
  background: linear-gradient(96.01deg, #2A7BD7 -4.88%, #4ED861 88.77%);
  box-shadow: 0px 6px 16px rgba(42, 123, 215, 0.18);
  border-radius: 4px;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 15px;
  line-height: 23px;
  text-transform: uppercase;
}

.green_circle img{
  width: 100%;
}

.blue_circle {
  background: #BFD7F3;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
  border-radius: 400px;
  padding: 1.1rem;
}

.green_circle {
  background: #ABEDB4;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
  padding: 1.1rem;
  border-radius: 400px;
}


.bounce {
  animation: bounce2 2s ease infinite;
}

@keyframes bounce2 {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}


h4.colored_text {
  background: linear-gradient(91.12deg, #2A7BD7 19.1%, #4ED861 80.14%);
  font-size: 30px;
  line-height: 41px;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-align: center;
}